{% extends "base.html" %}

{% block content %}
<h1 class="title">Staffing Status</h1>

    <TABLE class="table">
        <thead>
            <TR>
                <TH>Facility</TH>
                <TH>Role</TH>
                <TH>Available</TH>
                <TH>Required</TH>
                <TH>Last Update</TH>
            </TR>
        </thead>
        <tbody>
            {% for t in staff_status %}
            <TR>
                <TD>{{ t.facility_name }}</TD>
                <TD>{{ t.role_type }}</TD>
                <TD>{{ t.available }}</TD>
                <TD>{{ t.required }}</TD>
                <TD>{{ t.update_date }}</TD>
            </TR>
            {% endfor %}
        </tbody>
    </TABLE>



{% endblock %}