{% extends "base.html" %}

{% block content %}
    <h1 class="title">Add Staff Update</h1>
    <div class="tile is-ancestor">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/staff/updates/{{ session['district_id'] }}">

            <div class="field">
                {{ form.staff_role_id.label }}
                <div class="control">{{ form.staff_role_id(class='select') }}</div>
            </div>

            <div class="field">
                {{ form.facility_id.label }}
                <div class="control">{{ form.facility_id(class='select') }}</div>
            </div>

            <div class="field">
                {{ form.required.label }}
                <div class="control">{{ form.required(class='input') }}</div>
            </div>
            <div class="field">
                {{ form.available.label }}
                <div class="control">{{ form.available(class='input') }}</div>
            </div>
            {{  form.submit() }}
        </form>
    </div>
{% endblock %}