th, td {
  padding: 10px;
  text-align: left;
  vertical-align:top;
}

td.True {
  text-align: center;
  color: black;
  background: lightgreen;
  background-color: lightgreen;
  bgcolor: lightgreen;
  border-radius: 5px;
}

td.False {
  text-align: center;
  color: black;
  background: lightcoral;
  background-color: lightcoral;
  bgcolor: lightcoral;
  border-radius: 5px;
}

td.Clear {
  text-align: center;
  color: black;
  background: lightgreen;
  background-color: lightgreen;
  bgcolor: lightgreen;
  border-radius: 5px;
}

td.AtRisk {
  text-align: center;
  color: black;
  background: lightsalmon;
  background-color: lightsalmon;
  bgcolor: lightsalmon;
  border-radius: 5px;
}

td.OutOfLine {
  text-align: center;
  color: black;
  background: lightcoral;
  background-color: lightcoral;
  bgcolor: lightcoral;
  border-radius: 5px;
}