{% extends "base.html" %}

{% block content %}

<H1 class="title">COVID READINESS DASHBOARD ADMIN - DISTRICT CONFIGURATION</H1>

<TABLE width="800px">
    <TR>
        <TD width="400px">
            <TABLE>
                <TR>
                    <TD>
                        <TABLE width="400px">
                            <TR>
                                <TH>District ID</TH><TD class="config">{{ data.district.id }}</TD>
                            </TR>
                            <TR>
                                <TH>District Name</TH><TD class="config">{{ data.district.name }}</TD>
                            </TR>
                            <TR>
                                <TH>County</TH><TD class="config">{{ data.district.county_name }}</TD>
                            </TR>
                            <TR>
                                <TH>Base Zip Code</TH><TD class="config">{{ data.district.base_zip_code }}</TD>
                            </TR>
                            <TR>
                                <TH>Enabled</TH><TD class="config">{{ data.district.enabled }}</TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
        </TD>
        <TH width="400px">
            <BR><BR>
        </TH>
    </TR>
</TABLE>
{% endblock %}