{% extends "base.html" %}

{% block content %}

<H1 class="title">COVID READINESS DASHBOARD ADMIN - {{ data.district.name }}</H1>

<TABLE width="800px">
    <TR>
        <TD width="400px">
            <TABLE>
                <TR>
                    <TD>
                        <TABLE width="400px">
                            <TR>
                                <TH>District Configuration</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='district',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                            <TR>
                                <TH>Regional Conditions Configuration</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='geo',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                            <TR>
                                <TH>PPE Supply Status</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='ppe',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                            <TR>
                                <TH>Facility Staffing Status</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='staff',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                            <TR>
                                <TH>Facility Space Status</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='space',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                            <TR>
                                <TH>Transportation Status</TH><TD class="config"><A HREF="{{ url_for('admin_bp.district_config',section='trans',district_id=data.district_id) }}">CONFIGURE</A></TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
        </TD>
        <TH width="400px">
            <BR><BR>
        </TH>
    </TR>
</TABLE>
{% endblock %}