{% extends "base.html" %}

{% block content %}

<H1 class="title">COVID READINESS DASHBOARD ADMIN - TRANSPORTATION CONFIGURATION</H1>

<form method="post" action="/admin/trans/{{ session['district_id'] }}">

<TABLE class="table">
    <TR>
        <TD>
            <TABLE>
                <TR>
                    <TD>
                        <TABLE>
                            <TR>
                                <TH>District ID</TH><TD class="config">{{ data.district.id }}</TD>
                            </TR>
                            <TR>
                                <TH>District Name</TH><TD class="config">{{ data.district.name }}</TD>
                            </TR>
                            <TR>
                                <TH>Transportation Snapshots Enabled</TH><TD class="config">{{ form.enabled(class="toggle") }}</TD>
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD>
            {{ form.update(class="button is-success") }}
        </TD>
    </TR>
</TABLE>
</form>

{% endblock %}