th, td {
  padding: 10px;
  text-align: left;
  vertical-align:top;
}
.title {
  text-align:left;
}

.subtitle {
  text-align: left;
}

.content {
  text-align: left;
}

input.add-data {
  width: 50px;
}
input.del-data {
  width: 50px;
}
input.upd-data {
  width: 50px;
}


li.district {
  text-align: left;
}

td.actions {
  width: 150px;
}
th.actions {
  width: 150px;
}

td.room_number {
  width: 100px;
}
th.room_number {
  width: 100px;
}

input.room_number {
  width: 50px;
}

td.capacity {
  width: 100px;
}
th.capacity {
  width: 100px;
}

input.capacity {
  width: 50px;
}

td.demand {
  width: 100px;
}
th.demand {
  width: 100px;
}

input.demand {
  width: 50px;
}

td.status {
  width: 100px;
}

th.status {
  vertical-align: center;
}

td.True {
  text-align: center;
  color: black;
  background: lightgreen;
  background-color: lightgreen;
  bgcolor: lightgreen;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
}

td.False {
  text-align: center;
  color: black;
  background: lightcoral;
  background-color: lightcoral;
  bgcolor: lightcoral;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
}

td.Clear {
  text-align: center;
  color: black;
  background: lightgreen;
  background-color: lightgreen;
  bgcolor: lightgreen;
  border-radius: 5px;
}

td.Warning {
  text-align: center;
  color: black;
  background: lightsalmon;
  background-color: lightsalmon;
  bgcolor: lightsalmon;
  border-radius: 5px;
}

td.Problem {
  text-align: center;
  color: black;
  background: lightcoral;
  background-color: lightcoral;
  bgcolor: lightcoral;
  border-radius: 5px;
}