<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" href="http://lakeforestschools.org/uploaded/themes/default_16/css/main.css?1541690790">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <link rel="stylesheet" href="/static/scorecards.css">
    <script src="https://kit.fontawesome.com/dfe2982406.js" crossorigin="anonymous"></script>
    <title>COVID READINESS DASHBOARDS</title>
</head>

<body class="has-navbar-fixed-top">
    <section class="hero">

        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div id="covidmetrics-burger"
                         class="navbar-burger burger"
                         data-target="covidmetrics-main-menu"
                         onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                </div>

                <div id="covidmetrics-main-menu" class="navbar-menu">
                    <div class="navbar-start">

                        {% if data and data.configuration %}
                            <a href="{{ url_for('main_bp.index') }}" class="navbar-item">
                                [{{ session.district_name }}]
                            </a>


                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Snapshots</a>

                                <div class="navbar-dropdown">
                                        <A href="{{ url_for('snap_bp.get_snapshot',snap_type='summary',district_id=data.district_id) }}" class="navbar-item">
                                            Summary
                                        </A>
                                    {% if data and data.configuration.config()["geo"]["enabled"] %}
                                    <A href="{{ url_for('snap_bp.get_snapshot',snap_type='geo',district_id=data.district_id) }}" class="navbar-item">
                                        Regional Conditions
                                    </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["ppe"]["enabled"] %}
                                    <A href="{{ url_for('snap_bp.get_snapshot',snap_type='ppe',district_id=data.district_id) }}" class="navbar-item">
                                        PPE Supply
                                    </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["staff"]["enabled"] %}
                                    <A href="{{ url_for('snap_bp.get_snapshot',snap_type='staff',district_id=data.district_id) }}" class="navbar-item">
                                        Facility Staffing
                                    </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["space"]["enabled"] %}
                                    <A href="{{ url_for('snap_bp.get_snapshot',snap_type='space',district_id=data.district_id) }}" class="navbar-item">
                                        Facility Space
                                    </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["trans"]["enabled"] %}
                                    <A href="{{ url_for('snap_bp.get_snapshot',snap_type='trans',district_id=data.district_id) }}" class="navbar-item">
                                        Transportation Status
                                    </A>
                                    {% endif %}
                                </div>
                            </div>

                            {% if check_perms(permissions['MANAGER'],session.perms[session.district_id]) %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Manage</a>

                                <div class="navbar-dropdown">
                                    {% if data and data.configuration.config()["ppe"]["enabled"] and check_perms(permissions['PPE'],session.permset) %}
                                        <A href="{{ url_for('ppe_bp.status',district_id=data.district_id) }}" class="navbar-item">
                                            PPE Supply
                                        </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["staff"]["enabled"] and check_perms(permissions['STAFF'],session.permset) %}
                                        <A href="{{ url_for('staff_bp.status',district_id=data.district_id) }}" class="navbar-item">
                                            Facility Staffing
                                        </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["space"]["enabled"] and check_perms(permissions['SPACE'],session.permset) %}
                                        <A href="{{ url_for('space_bp.status',district_id=data.district_id) }}" class="navbar-item">
                                            Facility Space
                                        </A>
                                    {% endif %}
                                    {% if data and data.configuration.config()["trans"]["enabled"] and check_perms(permissions['TRANS'],session.permset) %}
                                        <A href="{{ url_for('trans_bp.status',district_id=data.district_id) }}" class="navbar-item">
                                            Transportation
                                        </A>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if check_perms(permissions['ADMIN'],session.perms[session.district_id]) %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Configure</a>

                                <div class="navbar-dropdown">
                                        <A href="{{ url_for('admin_bp.district_admin_form',district_id=data.district_id) }}" class="navbar-item">
                                            District
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='geo',district_id=data.district_id) }}" class="navbar-item">
                                            Regional Conditions
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='ppe',district_id=data.district_id) }}" class="navbar-item">
                                            PPE Supply
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='staff',district_id=data.district_id) }}" class="navbar-item">
                                            Facility Staffing
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='space',district_id=data.district_id) }}" class="navbar-item">
                                            Facility Space
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='trans',district_id=data.district_id) }}" class="navbar-item">
                                            Transportation Status
                                        </A>
                                        <A href="{{ url_for('admin_bp.section_admin_form',section='users',district_id=data.district_id) }}" class="navbar-item">
                                            User Management
                                        </A>
                                </div>
                            </div>
                            {% endif %}

                        {% endif %}

                    </div>
                    <div class="navbar-end">

                        {% if current_user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">{{ session.username }}</a>

                            <div class="navbar-dropdown">
                                <a href="{{ url_for('main_bp.profile') }}" class="navbar-item">
                                    Profile
                                </a>
                                <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                        {% else %}
                            <a href="{{ url_for('auth_bp.login_form') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth_bp.signup_form') }}" class="navbar-item">
                                Sign Up
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>