{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    {{ form.email.label }} {{ form.email(class='input is-large') }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.name.label }} {{ form.name(class='input is-large') }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.password.label }} {{ form.password(class='input is-large') }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.confirm.label }} {{ form.confirm(class='input is-large') }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.district_id.label }} {{ form.district_id(class='is-large') }}
                </div>
            </div>

            {{ form.submit() }}
        </form>
</div>
{% endblock %}